<!doctype html>
<html>
	<head>
		<title>Moti Serial Control</title>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>

	<body>
		<script type="text/javascript">
			$(function() {
				$('#connect-btn').bind('click', function() {
					$.getJSON('/connect', {
						port: $('#connect-port').val(),
						baudrate: $('#connect-baudrate').val()
					}, function(data) {
						if (data.result) {
							$('#connect-btn').hide();
							$('#connect-port').hide();
							$('#connect-baudrate').hide();

							$("#bluetooth-btn").hide();
							$("#bluetooth-device").hide();
							$("#bluetooth-connect-btn").hide();

							$("#bluetooth-mac-connect").hide();
							$("#mac-connect-btn").hide();
							
							$('#disconnect-btn').show();

							$('#go-div').show();
							$('#spin-div').show();
							$('#stop-div').show();
							$('#fade-div').show();
						}
					});

					return false;
				});

				$("#bluetooth-btn").bind('click', function() {
					$("#message").text("Searching for bluetooth devices...");

					$.getJSON('/bluetooth_search', {
					}, function(data) {
						if (data.result) {
							data.result.map(function(device) {
								$("#bluetooth-device").append($('<option>', {value: device[0]}).text(device[1])); 
							});

							$("#bluetooth-device").show();
							$("#bluetooth-connect-btn").show();

							$("#message").text("");
						}
					});

					return false;
				});

				$("#bluetooth-connect-btn").bind('click', function() {
					$.getJSON('/bluetooth_connect', {
						device: $('#bluetooth-device').val(),
					}, function(data) {
						if (data.result) {
							$('#connect-btn').hide();
							$('#connect-port').hide();
							$('#connect-baudrate').hide();

							$("#bluetooth-btn").hide();
							$("#bluetooth-device").hide();
							$("#bluetooth-connect-btn").hide();

							$("#bluetooth-mac-connect").hide();
							$("#mac-connect-btn").hide();

							$('#disconnect-btn').show();

							$('#go-div').show();
							$('#spin-div').show();
							$('#stop-div').show();
							$('#fade-div').show();
						}
					});

					return false;
				});

				$("#mac-connect-btn").bind('click', function() {
					$.getJSON('/bluetooth_connect', {
						device: $('#bluetooth-mac-connect').val(),
					}, function(data) {
						if (data.result) {
							$('#connect-btn').hide();
							$('#connect-port').hide();
							$('#connect-baudrate').hide();

							$("#bluetooth-btn").hide();
							$("#bluetooth-device").hide();
							$("#bluetooth-connect-btn").hide();

							$("#bluetooth-mac-connect").hide();
							$("#mac-connect-btn").hide();

							$('#disconnect-btn').show();

							$('#go-div').show();
							$('#spin-div').show();
							$('#stop-div').show();
							$('#fade-div').show();
						}
					});

					return false;
				});

				$('#disconnect-btn').bind('click', function() {
					$.getJSON('/disconnect', {
					}, function(data) {
						$('#connect-btn').show();
						$('#connect-port').show();
						$('#connect-baudrate').show();

						$("#bluetooth-btn").show();
						$("#bluetooth-device").show();
						$("#bluetooth-connect-btn").show();

						$("#bluetooth-mac-connect").show();
						$("#mac-connect-btn").show();

						$('#disconnect-btn').hide();

						$('#go-div').hide();
						$('#spin-div').hide();
						$('#stop-div').hide();
						$('#fade-div').hide();

						$('#message').text('');
					});

					return false;
				});

				$('#go-btn').bind('click', function() {
					$.getJSON('/go', {
						direction: $('#go-direction').val(),
						speed: $('#go-speed').val(),
						duration: $('#go-duration').val()
					}, function(data) {
						if (data.result)
							$('#message').text('GOGOGOGO');
					});

					return false;
				});

				$('#spin-btn').bind('click', function() {
					$.getJSON('/spin', {
						rotation: $('#spin-rotation').val(),
						speed: $('#spin-speed').val(),
						angle: $('#spin-angle').val()
					}, function(data) {
						if (data.result)
							$('#message').text('SPINSPIN');
					});

					return false;
				});

				$('#stop-btn').bind('click', function() {
					$.getJSON('/stop', {
					}, function(data) {
						if (data.result)
							$('#message').text('STOPSTOP');
					});

					return false;
				});

				$('#fade-btn').bind('click', function() {
					$.getJSON('/fade', {
						led: $('#fade-led').val(),
						start_red: $('#fade-start-red').val(),
						start_green: $('#fade-start-green').val(),
						start_blue: $('#fade-start-blue').val(),
						end_red: $('#fade-end-red').val(),
						end_green: $('#fade-end-green').val(),
						end_blue: $('#fade-end-blue').val(),
						duration: $('#fade-duration').val()
					}, function(data) {
						if (data.result)
							$('#message').text('FADEFADE');
					});

					return false;
				});
			});

			document.onkeydown = checkDownEvent;
			document.onkeyup = checkUpEvent;

			function checkDownEvent(e) {
				e = e || window.event;

				if ($("#disconnect-btn").is(":visible")) {
					if (e.keyCode == 37) {
						$.getJSON('/spin', {
							rotation: 0,
							speed: 255,
							angle: 160
						}, function(data) {
							if (data.result)
								$('#message').text('SPIN LEFT');
						});
					}
					else if (e.keyCode == 38) {
						$.getJSON('/go', {
							direction: 1,
							speed: 255,
							duration: 0
						}, function(data) {
							if (data.result)
								$('#message').text('UP ARROW');
						});
					}
					else if (e.keyCode == 39) {
						$.getJSON('/spin', {
							rotation: 1,
							speed: 255,
							angle: 160
						}, function(data) {
							if (data.result)
								$('#message').text('SPIN RIGHT');
						});
					}
					else if (e.keyCode == 40) {
						$.getJSON('/go', {
							direction: 0,
							speed: 255,
							duration: 0
						}, function(data) {
							if (data.result)
								$('#message').text('DOWN ARROW');
						});
					}
				}
			}

			function checkUpEvent(e) {
				e = e || window.event;

				if ($("#disconnect-btn").is(":visible")) {
					if ((e.keyCode >= 37) && (e.keyCode <= 40)) {
						$.getJSON('/stop', {
						}, function(data) {
							if (data.result)
								$('#message').text('STOP');
						});
					}
				}
			}


			function goForward() {
				$.getJSON('/go', {
					direction: 1,
					speed: 255,
					duration: 0
				}, function(data) {
					if (data.result)
						$('#message').text('FORWARD');
				});
			}

			function goBackward() {
				$.getJSON('/go', {
					direction: 0,
					speed: 255,
					duration: 0
				}, function(data) {
					if (data.result)
						$('#message').text('BACKWARD');
				});
			}

			function spinLeft() {
				$.getJSON('/spin', {
					rotation: 0,
					speed: 255,
					angle: 160
				}, function(data) {
					if (data.result)
						$('#message').text('SPIN LEFT');
				});
			}

			function spinRight() {
				$.getJSON('/spin', {
					rotation: 1,
					speed: 255,
					angle: 160
				}, function(data) {
					if (data.result)
						$('#message').text('SPIN LEFT');
				});
			}

			function goStop() {
				$.getJSON('/stop', {
				}, function(data) {
					if (data.result)
						$('#message').text('STOP');
				});
			}
		</script>

		<select id="connect-port">
			{% for port in ports %}
			<option value="{{ port }}">{{ port }}</option>
			{% endfor %}
		</select>

		<select id="connect-baudrate">
			{% for baudrate in baudrates %}
			<option value="{{ baudrate }}">{{ baudrate }}</option>
			{% endfor %}
		</select>

		<button id="connect-btn">Connect</button>

		<button id="disconnect-btn" style="display: none">Disconnect</button>

		<br>
		<br>

		<button id="bluetooth-btn">Search for bluetooth devices</button>

		<select id="bluetooth-device" style="display: none;"></select>

		<button id="bluetooth-connect-btn" style="display: none;">Connect via Bluetooth</button>

		<br>
		<br>

		<input id="bluetooth-mac-connect" type="text" name="bluetooth-mac-connect">

		<button id="mac-connect-btn">Connect via MAC address</button>

		<br>
		<br>
		<br>

		<div id="go-div" style="display: none">
			<select id="go-direction">
				<option value="1">Forward</option>
				<option value="0">Backward</option>
			</select>

			<input id="go-speed" type="number" min="0" max="255">

			<input id="go-duration" type="number" min="0" max="65535">

			<button id="go-btn">GO</button>

			<br>
			<br>
			<br>
		</div>

		<div id="spin-div" style="display: none">
			<select id="spin-rotation">
				<option value="0">Left</option>
				<option value="1">Right</option>
			</select>

			<input id="spin-speed" type="number" min="0" max="255">

			<input id="spin-angle" type="number" min="0" max="65535">

			<button id="spin-btn">SPIN</button>
			
			<br>
			<br>
			<br>
		</div>

		<div id="stop-div" style="display: none">
			<button id="stop-btn">STOP</button>
			
			<br>
			<br>
			<br>
		</div>

		<div id="fade-div" style="display: none">
			<select id="fade-led">
				<option value="0">Heart</option>
			</select>

			<input id="fade-start-red" type="number" min="0" max="255">
			<input id="fade-start-green" type="number" min="0" max="255">
			<input id="fade-start-blue" type="number" min="0" max="255">

			<input id="fade-end-red" type="number" min="0" max="255">
			<input id="fade-end-green" type="number" min="0" max="255">
			<input id="fade-end-blue" type="number" min="0" max="255">

			<input id="fade-duration" type="number" min="0" max="65535">

			<button id="fade-btn">FADE</button>
			
			<br>
			<br>
			<br>
		</div>

		<br>
		<br>
		<br>

		<button id="left-btn" onmousedown="spinLeft()" onmouseup="goStop()">LEFT</button>
		<button id="forward-btn" onmousedown="goForward()" onmouseup="goStop()">FORWARD</button>
		<button id="backward-btn" onmousedown="goBackward()" onmouseup="goStop()">BACKWARD</button>
		<button id="right-btn" onmousedown="spinRight()" onmouseup="goStop()">RIGHT</button>
		
		<br>
		<br>
		<br>

		<span id="message"></span>

	</body>

</html>